.border-transparent {
  border-color: transparent;
}

@each $key, $val in $colors {
  .text-#{$key} {
    color: $val;
  }

  .border-#{$key} {
    border-color: $val;
  }

  .text-hover-#{$key} {
    &:hover {
      color: $val;
    }
  }

  .bg-#{$key} {
    background-color: $val;
  }

  .bg-hover-#{$key} {
    &:hover {
      background-color: mix(white, $val, 20%);
    }
  }

  @if ($key != "black" and $key != "white") {
    @for $i from 1 through 9 {
      // light variation

      .text-#{$key}-light-#{$i} {
        color: mix(white, $val, $i * 10%);
      }

      .text-hover-#{$key}-light-#{$i} {
        &:hover {
          background-color: mix(white, $val, $i * 10%);
        }
      }

      .bg-#{$key}-light-#{$i} {
        background-color: mix(white, $val, $i * 10%);
      }

      .bg-hover-#{$key}-light-#{$i} {
        &:hover {
          background-color: mix(white, $val, $i * 10%);
        }
      }

      // dark variation
      .text-#{$key}-dark-#{$i} {
        color: mix(black, $val, $i * 10%);
      }

      .text-hover-#{$key}-dark-#{$i} {
        &:hover {
          color: mix(black, $val, $i * 10%);
        }
      }

      .bg-#{$key}-dark-#{$i} {
        background-color: mix(black, $val, $i * 10%);
      }

      .bg-hover-#{$key}-dark-#{$i} {
        &:hover {
          background-color: mix(black, $val, $i * 10%);
        }
      }
    }
  }
}

// @debug mix(white, black, 90);

span {
  display: inline;
  padding: 0.4rem 0.7rem;
  // color: #e6e6e6;
}

//  small piece of code to test @if @else

// @if (10<5) {
//   .test {
//     color: black;
//   }
// } @else {
//   .test-else {
//     color: white;
//   }
// }
