// @use "sass:map";

// theme colors
$primary: #3264e1;
$secondary: #44a70f;
$error: #ee1a1a;
$info: #ff9500;

$dark: black;
$light: white;

// color palette

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "blue": #1473d3,
  "black": $dark,
  "white": $light,
);

.test-btn {
  background-color: map-get($map: $colors, $key: "blue");
  border: none;
  color: map-get($colors, "white");
  padding: 1rem;
}

@debug map-get($colors, "primary");
@debug map-has-key($colors, "primary");
@debug map-remove($colors, "primary");
@debug map-merge(
  $colors,
  (
    "pink": #ffc0cb,
  )
);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;
$base-border-color: #ddd;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

// font size
$base-font-size: 1rem;
$fs-sm: $base-font-size * 0.75;
$fs-lg: $base-font-size * 1.5;
$fs-xl: $base-font-size * 2;
$fs-xxl: $base-font-size * 3;
